<div class="tundra">
  <div data-dojo-attach-point="lensButton" id="lensButton" class="esriSimpleSlider">
    <span data-dojo-attach-point="lensIconVector" id="lensIconVector"></span>
    Lens
  </div>
  <div data-dojo-attach-point="lensWin" id="lensWin">
    <div data-dojo-attach-point="dragHandle" id="dragHandle">
      <span id="lensSettings">
        <label for="${id}.lensMapService">Map Service: </label>
        <input data-dojo-attach-point="lensMapService" id="${id}.lensMapService" />
      </span>
    </div>
    <div data-dojo-attach-point="lensMapNode" id="lensMapNode">
      <div style="position:absolute; left:10px; bottom:10px; z-Index:999;">
        <div id="lensMapOpacity"
             data-dojo-type="dijit/form/HorizontalSlider"
             data-dojo-props="showButtons:true, value:1, minimum:1, maximum:10, discreteValues:10, intermediateChanges:true"
             style="width:200px;">
          <div data-dojo-type="dijit/form/HorizontalRuleLabels"
               data-dojo-props="container:'topDecoration', labels:' '"
               style="position:relative; top:-1px; height:1.2em; font-size:80%; color:white; font-weight:bold;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>